<div class="jumbotron text-center">
    <img class="profimg" src="img-1.png">
    <div id="personal-info" class="info">
        <p>I am sivagnanam, My interest are Linux, Programing Languages and Data.</p>
    </div>

    <div class="profile-info">
        <ul>
            <li><a href="https://twitter.com/DataSweeper" target="_blank"><img src="TwitterLogo.png" width="42" height="42"></a></li>
            <li><a href="https://github.com/DataSweeper" target="_blank"><img src="GitHub-Mark.png" width="42" height="42"></a></li>
            <li><a href="mailto:datasweeper@outlook.com" target="_blank"><img src="mail.png" width="42" height="42"></a></li>
            <li><a href="https://datasweeper.wordpress.com" target="_blank"><img src="wordpress.png" width="42" height="42"></a></li>
        </ul>
    </div>
</div>